body {
  font-family: "PT Mono", monospace;
}

.prose code::before, .prose code::after {
  display: none;
}

#next-event-widget {
  width: 100%; 
  height: 210px; 
  overflow:hidden;
}

@media (max-width: 800px) {
  #next-event-widget {
    height: 450px !important;
  }
}