<p>Hey <%= @business.name %>,</p>
<p>It's the Tampa Devs Talent team here. <%= link_to "Your business profile", notification_url(@notification.record) %> was flagged because it doesn't contain enough information and triggered our spam detection.</p>
<p>We've set your profile to invisible – only you can see it. Let us know when you update your profile and we'll make it public again.</p>
<p>Questions? Respond to this email and we can help.</p>
<%= render "shared/signature" %>
