<p class="mt-2 text-center text-sm text-blue-950">
  <%= t("sessions.sign_in_link_html", link: link_to(t("sessions.sign_in_link"), new_user_session_path, class: "font-medium text-blue-950 hover:text-blue-950")) %>
</p>
