<p>Hey <%= @business.first_name %>,</p>
<p>Hey again, it's the Tampa Devs Talent team. Your subscription is live and you can now message all <%= @developer_count %>+ Rails developers on the platform.</p>

<p>Get started by adding a filter or two when <%= link_to "browsing developer profiles", developers_url %>. Start with role level and work preference then try adding a specific term or technology.</p>

<p>When you see a good fit click the Hire button. Your message goes right to their email inbox.</p>

<p>Hit reply or email us at jobs@tampadevs.com if you’d like help narrowing down your search!</p>

<p>And thank you for supporting Tampa Devs, the fastest-growing nonprofit software development community in Tampa Bay.</p>

<%= render "shared/signature" %>

<p>P.S. Where did you first hear about Tampa Devs Talent?</p>
