<p>Hey <%= @business.first_name %>,</p>
<p>It's the Tampa Devs Talent team here, with a small request.</p>
<p>As someone who has used the platform, your feedback is valuable to Tampa Devs Talent.</p>
<p>So we'd love to know: <b>Why did you choose Tampa Devs Talent to hire over other platforms or recruiters?</b></p>
<p>Please reply here with your answer - your feedback will directly influence what's next for Tampa Devs Talent.</p>
<p>Add your mailing address and we'll send you some swag to say thank you!</p>
<%= render "shared/signature" %>
<p><small><%= link_to "Update my email notification settings", edit_business_url(@business, anchor: "notifications") %>.</small></p>
