<div class="max-w-4xl mx-auto mt-10 p-6 bg-white shadow-lg rounded-lg">
  <h1 class="text-3xl font-bold text-center">Applicants for <%= @job_post.title %></h1>

  <% if @applications.any? %>
    <div class="mt-6">
      <ul class="list-none space-y-4">
        <% @applications.each do |application| %>
          <li class="flex items-center space-x-4">
            <div>
              <%= render AvatarComponent.new(avatarable: application.developer, variant: :thumb, classes: "h-12 w-12 rounded-full") %>
            </div>
            <div class="flex-1 min-w-0">
              <%= link_to application.developer.name, developer_path(application.developer), class: "text-lg font-medium text-blue-600 hover:text-blue-800" %>
            </div>
            <div class="text-right">
              <span class="text-sm font-medium bg-gray-100 rounded-full px-4 py-1">
                Status: <%= application.status.humanize %>
              </span>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <p class="text-center mt-6 text-gray-600">No applications yet.</p>
  <% end %>
</div>

