<div class="max-w-4xl mx-auto mt-10 p-6 bg-white shadow-lg rounded-lg">
  <h1 class="text-3xl font-bold text-center mb-4">Create New Job Post</h1>

  <%= render 'form', job_post: @job_post %>
</div>

